
.header-image
   .profile
      img(src="public/img/unnamed.jpg" class="image-profile  col l1 responsive-img right ")
      .col.l3
         h6.left.white-text Fundador Ignacio Díaz, Desarrollador Full-Stack y Diseñador Ui/Ux
    
   .container
      .header.col.l12
         h1.title Creación de aplicaciones 
            br 
            string Web y Móviles



