block content
   .row
      .header-image
         div(class="section scrollspy" id="inicio")

         .container
            .profile
               
            .header.col.l12.center
               h2.title CREACIÓN DE APLICACIONES
                  br 
                  string Web y Móviles



