.row
   .header-image
      .container
         .profile
            img(src="public/img/unnamed.jpg" class="image-profile circle responsive-img right ")
            h6(class="col m4 l4 white-text ") Fundador Ignacio Díaz, Desarrollador Full-Stack y Diseñador Ui/Ux
         .header.col.l12.center
            h2.title CREACIÓN DE APLICACIONES
               br 
               string Web y Móviles



