extends layout

    .navbar-fixed
        nav
            .container
                .nav-wrapper
                    a.brand-logo.left(href='/' ) canariostudio
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a(href='/' target='_blank') Inicio
                            li
                                a(href='/portafolio') Quiénes Somos
                            li
                                a(href='/skills') Proyectos
                            li
                                a(href='/inicio') HardSkills
                            li
                                a(href='/quienes-somos') Blog
                            li
                                a(href='/contacto' blank="_target") Contacto