html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Canariostudio
        link(rel='stylesheet', href='/css/materialize.css')
        link(rel='stylesheet', href='/css/style.css')
        script( type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js")
        script( type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="/public/js/app.js")

    body

    .row 
        .navbar-fixed
            nav
                .container
                    .nav-wrapper
                        a.brand-logo.left(href='/' ) canariostudio
                            ul#nav-mobile.right.hide-on-med-and-down
                                li
                                    a(href='#inicio') Inicio
                                li
                                    a(href='#quien-soy') ¿Por qué elegir canariostudio?
                                li
                                    a(href='#proyectos') Proyectos
                                li
                                    a(href='https://medium.com/canariostudio' target='_blank') Blog
    
    include components/header

        .row    
            div(class="section scrollspy" id="quien-soy")
                h2(class="center title-about ") 3 razones para elegir CanarioStudio
                .container
                    br
                    .col.s12.m4.l4.center
                        img(src="/public/img/web-design.png" class="responsive-img icon")
                        p  Desarrollo y diseño de aplicaciones con las últimas tecnologías avanzadas para una mejor perfomance y posicionamiento web.
                    .col.s12.m4.l4.center
                        img(src="/public/img/server.png" class="responsive-img icon")
                        p  Si no tienes servidor, podemos subirlo a una plataforma open source para aplicaciones de alta calidad, por un periodo indefinido. 
                    .col.s12.m4.l4.center
                        img(src="/public/img/backup.png" class="responsive-img icon")
                        p  Tú proyecto esta siempre respaldado con control de versiones y aplicamos metodologías agiles para una mejor fluides.
                                         
        .row
            div(class="section scrollspy" id="proyectos")

                .header-about
                    br
                    .container
                        h4 Proyectos Desarrollados
                        h5 Si te gustaría ver el demo del proyecto me puedes contactar y con gusto te envío un ejemplar.
                       
                .header-project

                        .imagen-gallery1.col.s12.m12.l12.center-align
                            .container
                                h3(class="left title-about black-text col s12 m12 l12") Lupulos app
                                p(class=" black-text left") Aplicación contruida para los amantes de la cerveza, una red social donde podrás encontrar datos interesantes de cervezas y seguir a otros cerveceros para formar comunidades.
                                img(src="/public/img/lupulos.png" class="responsive-img")
                            .container
                                h3(class="left title-about black-text col s12 m12 l12") Regístralo
                                p(class=" black-text left") Desarrollo Full-stack de un app para registro de productos. Proyecto en proceso, Regístralo surge como una idea de mejorar la seguridad de la venta de segunda mano.
                                img(src="/public/img/registralo.png" class="responsive-img")
                            .container
                                h3(class="left title-about black-text col s12 m12 l12") Tweeter Clon
                                p(class=" black-text left") Proyecto personal, diseño de una aplicación similar a twetter. Fue Un desafío aplicando buenas prácticas, Mucho entusiasmo y tiempo.
                                img(src="/public/img/twetterClon.png" class="responsive-img")
                            .container
                                h3(class="left title-about black-text col s12 m12 l12") Sebastián Dupont
                                p(class=" black-text left") Sitio web desarrollado y diseñado para un actor de doblaje, el objetivo del proyecto es obtener una mayor cantidad de clientes.
                                img(src="/public/img/sebadupont.png" class="responsive-img")
                            .container
                                h3(class="left title-about black-text col s12 m12 l12") Inverfact
                                p(class=" black-text left") Sitioweb corporativo, creado para una empresa de inversiones dentro de una agencia llamada BildChile. Aquí he participado en la propuesta de Ui/Ux pricipalmente.
                                img(src="/public/img/inverfact.png" class="responsive-img")
                            .container
                                h3(class="left title-about black-text col s12 m12 l12") Noche de monos versión 2015
                                p(class=" black-text left") Noche de monos es un festival de animación digital realizado por la Escuela Digital de UDLA, El objetivo del proyecto es que el usuario sepa toda la información relacionada con el festival y también mostrar los talleres que se realizan.
                                img(src="/public/img/nochedemonos.png" class="responsive-img")
                            .container
                                h3(class="left title-about black-text col s12 m12 l12") Cecpur
                                p(class=" black-text left") Uno de mis primeros clientes, este es un sitio estatico simple pero funcional, para una empresa de implementos carroceros.
                                img(src="/public/img/cecpur.png" class="responsive-img")


                
      
        .row
            div(class="section scrollspy blue-grey lighten-4 footer" id="proyectos")
             
                    br
                    
                    .container
                        .col.s2.m2.l2.right
                            img(src="/public/img/unnamed.jpg" class="responsive-img " ) 
                        br
                        h4 Fundador 
                        h5 Ignacio Díaz - Desarrollador Full-Stack

                 
                   
                        
                            
           
    






