html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Canariostudio
        link(rel='stylesheet', href='/css/materialize.css')
        link(rel='stylesheet', href='/css/style.css')
    body

    .row 
        .navbar-fixed
          nav
            .container
                .nav-wrapper
                    a.brand-logo.left(href='/' ) canariostudio
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a(href='/' target='_blank') Inicio
                            li
                                a(href='/portafolio') Quiénes Somos
                            li
                                a(href='/skills') Proyectos
                            li
                                a(href='/inicio') Blog
                            li
                                a(href='/quienes-somos') HardSkills
                            li
                                a(href='/contacto' blank="_target") Contacto

        block content


