html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Canariostudio
        link(rel='stylesheet', href='/css/materialize.css')
        link(rel='stylesheet', href='/css/style.css')
    body

    .row 
        nav
            .container
                .nav-wrapper
                    a.brand-logo.left(href='/' ) canariostudio
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a(href='/') Blog
                            li
                                a(href='/quienes-somos') Portafolio
                            li
                                a(href='collapsible.html') HardSkills
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a(href='sass.html') Inicio
                            li
                                a(href='badges.html') Quiénes Somos
                            li
                                a(href='https://medium.com/canariostudio' blank="_target") Contacto

        block content


