@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

body{
   padding:0 ; 
   margin:0 ;
   bottom:0 ;
}

nav{
    background: #fff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 72px;   
    font-family: 'Playfair Display', serif;
    font-weight: bold ;
}

a {
    color:#000 !important;
    height: 100% !important;
}

nav li {
    line-height: 68px ;
}


nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100% !important;
}

string{
    font-family: 'Playfair Display', serif;
}

p{
    font-size:20px;
   
}

.row{
    margin:0;
    padding: 0;
    bottom: 0;
    top:0;
}

.header-image{
    background:url('/public/img/samuel-zeller-158996-unsplash.png') center center;
    background-size:cover;
    height: 700px;
    margin-top:0px;
}

.header{
    position: relative;
    margin-top:200px;
    height: 200px;
    
}

.title{
    font-weight: bold !important ;
    color:rgb(248, 227, 110) !important ;
    font-style:italic ;
}

string{
    font-style: normal ;
}

.profile{
    padding: 5%;
}

.image-profile{
    width: 80px;
    height: 85px !important;
}

#quienes-somos{
    height: 100%;
    padding: 0px ;
}

.header-about{
    background-color: #cfd8dc;
    height: 160px ;
    color:#78909C;  
}

.header-project{
    background-image: url('/img/spacex-549326-unsplash.jpg');
    background-size:cover;
    height: 200px ;
    color:#78909C;  
}

h4{
    font-family: 'Playfair Display', serif;
    font-weight: bold ;
}

h5{
    font-style: italic ;
}

.title-biografy2{
    font-weight: normal ;
}

.title-biografy{
    position: relative;
    top:24px;
    font-style:italic;
}

.paragraph{
    font-weight: bold ;
    font-size:18px ;
    margin-left:1%;
}

.anio{
    font-family:'roboto';
    font-size:40px;
    font-weight: bold ;
}

.imagen-gallery1{
    background:url('/public/img/registralo.png');
    background-size:cover ;
    height: 500px;
    margin-right:1%;
    margin-top:1%;
}

.imagen-gallery2{
    background:url('/public/img/clontwitter.png');
    background-size:cover ;
    height: 500px;
    margin-right:1%;
    margin-top:1%;
}

.imagen-gallery3{
    background:url('/public/img/sebadupont.png');
    background-size:cover ;
    height: 500px;
    margin-right:1%;
    margin-top:1%;
}


.imagen-gallery4{
    background:url('/public/img/lupulosapp.png');
    background-size:cover ;
    height: 500px;
    margin-right:1%;
    margin-top:1%;
}



.tool-img{
    margin-top:10%;
}

.tool-img1{
    margin-top:10%;
    margin-left:8%;
}

.tool-img3{
    margin-top:10%;
    margin-left:8%;
}

.tool-img4{
    margin-top:10%;
    margin-left:23%;
}
.tool-img5{
    margin-top:30%;
    margin-left:10%;
}

.tool-img6{
    margin-top:20%;
    margin-left:20%;
}