@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

body{
   padding:0 ; 
   margin:0 ;
   bottom:0 ;
}


nav{
    background: #fff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 72px;   
    font-family: 'Playfair Display', serif;
    font-weight: bold ;
}

a {
    color:#000 !important;
    height: 100% !important;
}

nav li {
    line-height: 68px ;
}


nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100% !important;
}

string{
    font-family: 'Playfair Display', serif;
}

.row{
    margin:0;
    padding: 0;
    bottom: 0;
    top:0;
}

.header-image{
    background:url('/public/img/samuel-zeller-158996-unsplash.png') center center;
    background-size:cover;
    height: 700px;
    margin-top:0px;
}

.header{
    position: relative;
    margin-top:160px;
    height: 200px;
    
}

.title{
    font-weight: bold !important ;
    color:rgb(248, 227, 110) !important ;
    font-style:italic ;
}

string{
    font-style: normal ;
}

.profile{
    padding: 5%;
}

.image-profile{
    width: 90px;
    height: 90px !important;
}

#quienes-somos{
    height: 1400px;
    
}

.header-about{
    background: #37474F;
    height: 160px ;
    color:#78909C;
   
}

h4{
    font-weight: bold ;
}
