@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

body{
   background-color:rgb(221, 236, 243); 
   margin: 0px !important; 
   margin-bottom: 0px ;
   margin-top:0px ;
   margin-left:0px ;
   margin-right:0px ;
   padding:0px !important ;
   padding-left:0px ;
   padding-right:0px ;
   padding-top:0px ;
   padding-bottom:0px ;
}

nav{
    background: #fff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 72px;   
    font-family: 'Playfair Display', serif;
    font-weight: bold ;
}

a {
    color:#000 !important;
    height: 100% !important;
}

nav li {
    line-height: 68px ;
}


nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100% !important;
}

string{
    font-family: 'Playfair Display', serif;
}

.header{
    position: relative;
    margin-top:160px;
    height: 200px;
}

.header-image{
    background:url('/public/img/samuel-zeller-158996-unsplash.png') center center;
    background-size:cover;
    height: 100vh;
}

.title{
    font-weight: bold !important ;
    color:rgb(248, 227, 110) !important ;
}

